
<%= form_tag(@action, method: "post", class: "editor") do %>
<header class="clearfix">
	<h1>
		Seite bearbeiten
	</h1>
	<section class="info">

		<%= submit_tag("Speichern",class:"submitButton") %>
		<a class="exitButton" href="get?keyword=<%=@page.keyword%>">Abbrechen</a>
	</section>
</header>


<%= text_field_tag(:title, @page.title, placeholder: 'Titel', class: "title full") %>
<%= text_field_tag(:parent,  @page.parent, placeholder: 'Übergeordnet',class: "parent half") %>
<%= text_field_tag(:keyword,  @page.keyword, placeholder: 'Adresse' ,class: "keyword half") %>
<%if @action  == "create" %>
<%= select_tag(:page_type, options_for_select([['Seite', 1], ['Modul', 2]], 1)) %>
<%else%>
<%= hidden_field_tag(:page_type, getPageType(@page)) %>

<%end%>

<% if @page.content.is_a?Page::Article %>
<%= text_area_tag(:content,  @page.content.content, placeholder: 'Inhalt') %>
<%elsif  @page.content.is_a?Page::AddIn %>
<%= text_field_tag(:controller,  @page.content.controller, placeholder: 'controller') %>

<%= text_field_tag(:controller,  @page.content.action, placeholder: 'action') %>
<%end%>
<%= hidden_field_tag(:old_title, params[:title]) %>

<% end %>
<