<%= render "/user/menu" %> 
<%  @articles.each { |article|  %>
<ul>
	<li>
		<a href="edit?keyword=<%=article.keyword%>"><%=article.title%></a>

		<ul>
			<%getKinds(article.keyword).each { |e| %>
			<li><a href="edit?keyword=<%=e.keyword%>"><%=e.title%></a>
				
			</li>
			<% }%>
		</ul>
	</li>
</ul>
<% }%>