<<<<<<< HEAD

=======
<%is_logged_in?%>
>>>>>>> f1ce33d2ce134de96ef90197e308a0d2ddd45b68
<div class="internSection clearfix">
	<header class="clearfix"><h1>
	Mitgliederbereich
	</h1></header>
	<%= form_tag("create", method: "post", class: "create") do %>
	<%= text_field_tag(:name, nil, placeholder: 'Name') %>
	<%= text_field_tag(:first_name, nil, placeholder: 'Vorname') %>
	<%= text_field_tag(:mail, nil, placeholder: 'e-mail') %>
	<%= password_field_tag(:password, nil, placeholder: 'Kennwort') %>
	<%= submit_tag("Registrieren",class: "submitButton") %>
	<% end %>
	<%= form_tag("login", method: "post", class:"login") do %>
	<%= text_field_tag(:mail, nil, placeholder: 'e-mail') %>
	<%= password_field_tag(:password, nil, placeholder: 'Kennwort') %>
	<%= submit_tag("Anmelden", class: "submitButton") %>
	<% end %>
</div>