<!DOCTYPE html>
<html>
<head>
	<title>MyApp</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<% if it_is_allowed?  "menu_bar" %>
	<nav class="admin">
		<ul class="clearfix">
			<% if it_is_allowed? "new_page" %>
			<li>
				<%= link_to "Neue Seite", :controller => "pages", :action=>"new" %>
			</li>
			<%end%>
			<% if it_is_allowed? "edit_user" %>
			<li>
				<%= link_to "Benutzer bearbeiten", :controller => "users", :action=>"list" %>
			</li>
			<%end%>
			<li>
				<%= link_to "Abmelden", :controller => "users", :action=>"logout" %>
			</li>		
		</ul>
	</nav>
	<% end %>	
	<div class="all">
		<header class="head ">
			<div class="inner clearfix">	
				<div class="logo"></div>
				<h1>Spielmannszug 1902 Rheinbach e.V.</h1 >
					<ul class="menu">
						<% menu.each { |page|%>
						<%=page.id%>
						<%if page.public or it_is_allowed? "hidden_page" %>
						<li <%=raw menu_options page%>>
							<%= link_to page.title,  page_path(page), :id => page.keyword%>

							<%if kinds? page.keyword%>
							<ul>
								<%getKinds(page.keyword).each { |kind| %>
								<li  <%=raw menu_options kind%>>
									<%= link_to kind.title,  :id => kind.keyword, :controller => "pages", :action=>"show" %>
								</li>
								<% }%>
							</ul>
							<%end%>
						</li>
						<%end%>
						<%}%>
					</ul>
				</div>
			</header>

			<div class="imageAtTop">

			</div>

			<main>
				<%= yield %>
			</main>
			<footer class="foot">
				Kontakt|Impressum
			</footer>
		</div>
		<%= javascript_include_tag "application" %>
	</body>
	</html>
