<!DOCTYPE html>
<html>
<head>
	<title>MyApp</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
=======
lEVEL: <%=session[:level]%>
>>>>>>> f1ce33d2ce134de96ef90197e308a0d2ddd45b68
<% if it_is_allowed?  Rights.const_get(:MENU_BAR) %>
	<nav class="admin">
		<ul class="clearfix">
			<li><a href="../<%=url_for :controller=>'page', :action => 'new'%>">Neue Seite</a>
			<li><a href="javascript:tooglemercury()">Test</a>
			</li>	
			<% if it_is_allowed? Rights.const_get(:EDIT_USER) %>
			<li><a href="<%= url_for(:action => 'list', :controller => 'user') %>">Benutzer bearbeiten</a>	
				<%end%>
				<li><a href="<%= url_for(:action => 'logout', :controller => 'user') %>">Abmelden</a>
				</li>		
			</ul>
		</nav>
		<% end %>	
		<div class="all">
			<header class="head ">
				<div class="inner clearfix">	
					<div class="logo"></div>
					<h1>Spielmannszug 1902 Rheinbach e.V.</h1 >

						<ul>
							<%  
							menu.each { |page|  
								if page.public or it_is_allowed?("hiddenPage") {
								%>

							<li draggable="true" class="drag">
								<a  <%=hidden page%> href="../<%=page.keyword%>"><%=page.title%></a>
								<%if kinds? page.keyword%>

								<ul class="kinds">
									<%getKinds(page.keyword).each { |e| %>
									<li><a <%=hidden e%> href="../<%=page.keyword%>/<%=e.keyword%>"><%=e.title%></a>

									</li>
									<% }%>
								</ul>
								<%end%>
							</li>
							<%}%>
							<%}%>
							 	

						</ul></div>
					</header>

					<div class="imageAtTop">

					</div>

					<main>
						<%= yield %>
					</main>
					<footer class="foot">
						Kontakt|Impressum
					</footer>
				</div>
				<%= javascript_include_tag "application" %>
			</body>
			</html>
