<!DOCTYPE html>
<html>
<head>
	<title>MyApp</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
<% if it_is_allowed?  Rights.const_get(:MENU_BAR) %>
	<nav class="admin">
		<ul class="clearfix">
			<li><a href="../<%=url_for :controller=>'page', :action => 'new'%>">Neue Seite</a>
			</li>	
			<% if it_is_allowed? Rights.const_get(:EDIT_USER) %>
			<li><a href="<%= url_for(:action => 'list', :controller => 'user') %>">Benutzer bearbeiten</a>	
				<%end%>
				<li><a href="<%= url_for(:action => 'logout', :controller => 'user') %>">Abmelden</a>
				</li>		
			</ul>
		</nav>
		<% end %>	
		<div class="all">
			<header class="head ">
				<div class="inner clearfix">	
					<div class="logo"></div>
					<h1>Spielmannszug 1902 Rheinbach e.V.</h1 >

						<ul>
							<%  
							menu.each { |article|  %>

							<li>
								<a href="../page/get?keyword=<%=article.keyword%>"><%=article.title%></a>
								<%if kinds? article.keyword%>

								<ul class="kinds">
									<%getKinds(article.keyword).each { |e| %>
									<li><a href="get?keyword=<%=e.keyword%>"><%=e.title%></a>

									</li>
									<% }%>
								</ul>
								<%end%>
							</li>
							<% }%>

						</ul></div>
					</header>

					<div class="imageAtTop">

					</div>

					<main>
						<%= yield %>
					</main>
					<footer class="foot">
						Kontakt|Impressum
					</footer>
				</div>
			</body>
			</html>
